* {
    margin: 0;
    padding: 0;
}

.container {
    background-color: #1E1E1E; /* Fundo escuro */
    padding: 30px;
}

nav {
    display: flex;
    justify-content: center;
}

.menu {
    list-style: none;
    display: flex;
    gap: 150px; /* Espaço entre os itens */
    margin: 0;
    padding: 0;
}

.menu li {
    font-family: "Lily Script One", system-ui;
    font-style: normal;
}

.menu a {
    color: #fff; /* Cor do texto branco */
    text-decoration: none;
    font-size: 20px; /* Tamanho da fonte */
}


.banner {
    position: relative;
    width: 100%; /* Largura total da seção */
    height: 400px; /* Ajuste a altura conforme necessário */
    overflow: hidden; /* Garante que a imagem não ultrapasse a seção */
}

.banner img {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: auto;
    transform: translate(-50%, -50%); /* Centraliza a imagem */
    object-fit: cover; /* Faz a imagem cobrir toda a área */
}

.item1 {
    display: flex;
    margin-top:80px;
    justify-content: space-evenly;
    gap: 10px; /* Espaço entre as imagens */
    margin-bottom: 80px; /* Espaço entre as seções */
}

.item1 img {
    width: 253px;
    height: 413px;
    border: solid rgb(0, 0, 0);
    border-radius: 30px;

}
.item1 img:hover{
    transform: scale(1.1);
}

footer {
    font-family: "Actor", sans-serif;
    color: #fff;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #1E1E1E;
    padding: 30px;

}

footer img {
    display: flex;
    width: 50px;
    height: 50px;
}

footer img:hover{
    transform: scale(1.1);
}